:root {
    --cell-size: 30px;
}

body {
    background-color: #242424;
}

#game-container {
    width: 1050px;
    height: 660px;
    background-color: rgb(0, 0, 124);
    display: flex;
    justify-content: center;
    /* centers child div horizontally */
    align-items: center;
    /* centers child div vertically */
}

#minefield {
    margin: 0 auto;
    display: inline-grid;
    background-color: rgb(112, 0, 0);
}

.cell {
    background-color: rgb(143, 143, 143);
    border: 1px solid black;
    cursor: pointer;
}

.cell:hover {
    filter: brightness(1.2);
}


.flagged {
    background-color: rgb(161, 5, 5);
}